
body {
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
}

h1 {
	margin-top: 80px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

p {
	margin-top: 60px;
	margin-left: 180px;
	margin-right: 180px;
	margin-bottom: 20px;
}

video {
	margin: 30px 0;
	border: 5px solid #EADEEA;
}

.container {
  position: relative;
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

.image {
  margin: 30px 0;
  width: 50%;
  height: auto;
  border: 5px solid #EADEEA;
}

a {
	font-weight: bold;
}

a:link {
	color: purple;
}

a:visited {
	color: purple;
}